<div class="zero"> 
	<hg1><a href="http://raagadhar.com">Raagadhar</a></hg1>
</div>
<div class="row">
	<div class="span12">
		<% if @definition %>
			<h2><%=@definition["name"]%></h2></br>
			<p><%=@definition["definition"].gsub("â","\"").gsub("Â","'")%></p>
			<% if @definition["url"] %>
				</br><p><a href="<%=@definition["url"]%>">Source</a></p>
			<% end %>
		<% else %>
			<h4>Sorry, no information was found</h4></br>
		<% end %>
	</div>
</div>