<div class="topbar"> 
  <div class="fill"> 
    <div class="container fixed"> 
      <h3><a href="#">Raagadhar</a></h3> 
      <ul> 
        <li class="active"><a href="#">Home</a></li> 
        <li><a href="#about">About</a></li> 
      </ul> 
    </div> 
  </div> 
</div>

