<div class="zero"> 
	<hg1><a href="http://raagadhar.heroku.com">Raagadhar</a></hg1>
</div>
<div class="row">
	<div class="span12">
		<h2><%=@definition["name"]%></h2></br>
		<p><%=@definition["definition"]%></p>
		<% if @definition["url"] %>
			</br><p><a href="<%=@definition["url"]%>">Source</a></p>
		<% end %>
	</div>
</div>