
<div class="hero"> 
	<hg>Raagadhar</hg>
</div>
<div class="span6 offset4">
	<h4>All the metadata you can find about <a href="http://en.wikipedia.org/wiki/Raga">Raagas</a></h4>
	</br>
</div>
<div>
  <form class="search" >
	<input type="text" class="search-query" data-provide="typeahead">
    </br></br>
    <button type="submit" class="btn">Search</button>
  </form>
</div>

