<script type="text/javascript">

	function capitaliseFirstLetter(string)
	{
	    return string.charAt(0).toUpperCase() + string.slice(1);
	}

	$(document).ready(function(){
		var raagas = [];
		var url = "http://index.bonsai.io/7bfy61vro8h8nothcjzz/test/_search/?fields=name&size=162";
	    $.ajax({
	        type: 'GET',
	        url: url,
	        dataType: 'json',
	        success: function(o){
	        	result = o.hits.hits;
	            for(var i=0; i<result.length;i++){
	             	raagas.push(capitaliseFirstLetter(result[i].fields.name));
	            }
	            console.log(raagas);
	            $('#actor').typeahead({ source: raagas, items: 13 });
	         },
	         error: function (xhr, ajaxOptions, thrownError){
	             console.log(thrownError);
	         }
	    });
	    var url = "http://index.bonsai.io/7bfy61vro8h8nothcjzz/definitions/_search/?fields=name&size=590";
	    $.ajax({
	        type: 'GET',
	        url: url,
	        dataType: 'json',
	        success: function(o){
	        	result = o.hits.hits;
	            for(var i=0; i<result.length;i++){
	             	raagas.push(capitaliseFirstLetter(result[i].fields.name));
	            }
	            console.log(raagas);
	            $('#actor').typeahead({ source: raagas, items: 13 });
	         },
	         error: function (xhr, ajaxOptions, thrownError){
	             console.log(thrownError);
	         }
	    });
	});
</script>
<div class="hero"> 
	<hg><a href="http://raagadhar.com">Raagadhar</a></hg>
</div> 
<div class="span6 offset4">
	<h4>All the metadata you can find about <a href="http://en.wikipedia.org/wiki/Raga">Raagas</a></h4>
	</br>
</div>
<div>
  <form class="search" action="/raaga">
  	<input data-provide="typeahead" type="text" class="search-query" id="actor" value='try "Malhar"' name="raaga" onfocus="this.value=''">
    </br></br>
    <button type="submit" class="btn">Search</button>
  </form>
</div>

