
<div class="hero"> 
  <hg>Raagadhar</hg>
</div>
<div>
  <form class="search">
    <input type="text" class="search-query">
  </br></br>
    <button type="submit" class="btn">Search</button>
  </form>
</div>

