<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>Raagadhar</title> 
    <meta name="description" content="A world of information aboutIndian Classical Music"> 
    <meta name="author" content="Odacious Labs"> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
  </head> 
  <body>
  	<div class="container">
  	  <%= yield %>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery-1.7.2.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
  </body> 
</html>