<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>Raagadhar</title> 
    <meta name="description" content="A world of information aboutIndian Classical Music"> 
    <meta name="author" content="Odacious Labs"> 

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" >

  <!--
    <link rel="shortcut icon" href="images/favicon.ico"> 
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> 
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> 
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png
  -->
  </head> 
<!--
  <body>
	<div class="topbar"> 
	  <div class="fill"> 
	    <div class="container fixed"> 
	      <h3><a href="#">Raagadhar</a></h3> 
	      <ul> 
	        <li class="active"><a href="#">Home</a></li> 
	        <li><a href="#about">About</a></li> 
	      </ul> 
	    </div> 
	  </div> 
	</div>
-->
	<div class="container">
	  <%= yield %>
  </div> <!-- /container -->
  </body> 
</html>