<div class="zero"> 
	<hg1><a href="http://raagadhar.com">Raagadhar</a></hg1>
</div>
<% if (@status=="true") %>
	<div class="alert-message success">
	    <p><strong>Thanks for submitting</strong></p>
	</div>
<% end %>
<form class="form-horizontal" action="/submit" method="post">
  <fieldset>
	<div class="control-group">
    <label class="control-label" for="name">Name</label>
    	<div class="controls">
      		<input type="text" class="input-xlarge" id="name" name="name">
    	</div>
  	</div>
	<div class="control-group">
	<label class="control-label" for="email">Email</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="email" name="email">
		</div>
	</div>
	<div class="control-group">
	<label class="control-label" for="feeback">Feedback</label>
		<div class="controls">
			<textarea type="text" class="input-xlarge" id="feedback" rows="10" name="feedback"></textarea>
			<p class="help-block">What do you feel about Raagadhar? Are we missing any raagas? Any features that you want to see? Want to help the project grow?</p>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
  </fieldset>
</form>